:root {
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
  --purple: hsl(290, 53%, 46%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, transparent 50%, var(--light-pink) 50%),
    url("/assets/images/background-pattern-desktop.svg") center top / 100%
      no-repeat;
  background-size: cover;
  background-color: var(--light-pink);
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark-purple);
}

h1 {
  font-weight: 700;
  font-size: 4em;
  font-size: 3em;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  margin-right: 2em;
}

h2:hover {
  color: var(--purple);
}

p {
  color: var(--grayish-purple);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  outline: none;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card {
  background-color: var(--white);
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
  height: auto;
  padding: 0.5em;
  margin: 2em;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.2);
}

.icons {
  position: relative;
}

.button-plus,
.button-minus {
  position: absolute;
  top: -40px;
  right: -20px;
}

.button-plus {
  z-index: 1;
}

.hidden {
  display: none;
}

.star {
  margin: 2em;
}

.subject {
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.title-subject {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

@media (max-width: 375px) {
  .card {
    width: 350px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
